<!-- Title -->
        <div class="box">
            <h1>Account Transactions</h1>
            <hr/>
        </div>

        <!--  Balances -->
        <div class="row">
            <div class="col box">
                <div class="row summary-label">
                    Balance
                </div>
                <div class="row summary-value">
                    $9,990.00
                </div>
            </div>
            <div class="col box">
                <div class="row summary-label">
                    Withdrawals
                </div>
                <div class="row summary-value">
                    $10.00
                </div>
            </div>
            <div class="col box">
                <div class="row summary-label">
                    Deposits
                </div>
                <div class="row summary-value">
                    $1,000.00
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-100-b box">
                <div class="row label">
                    Account
                </div>
                <div class="row m-t-all">
                    <select>
                        <option>Checking</option>
                        <option>Reserve</option>
                        <option>Savings</option>
                    </select>
                </div>
            </div>

            <div class="col col-100-b box">
                <div class="row label">
                    Start Date
                </div>
                <div class="row m-t-all">
                    <input type="date"/>
                </div>
            </div>

            <div class="col col-100-b box">
                <div class="row label">
                    End Date
                </div>
                <div class="row m-t-all">
                    <input type="date"/>
                </div>
            </div>
        </div>

        <!--  Transactions -->
        <div class="table box">
            <div class="row tbl-cell-row tbl-row-hdr dsp-none-b">
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Date
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Month
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Check
                    </div>
                </div>
                <div class="col col-20-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Payee
                    </div>
                </div>
                <div class="col col-20-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Category
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Withdrawal
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Deposit
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="tbl-cell-hdr"> 
                        Balance
                    </div>
                </div>
            </div>

            <div class="row tbl-cell-row b-b-b m-t-b">
                <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Date
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            4/27/2017
                        </div>
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Month
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            Apr
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Check
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            123
                        </div>
                    </div>
                </div>
                 <div class="col col-20-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Payee
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            PNC Bank
                        </div>
                    </div>
                </div>
                 <div class="col col-20-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Category
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            Cash Out
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Withdrawal
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            $10.00
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Deposit
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            &nbsp;
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Balance
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            ($10.00)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tbl-cell-row b-b-b  m-t-b">
                <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Date
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            4/28/2017
                        </div>
                    </div>
                </div>
                <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Month
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            Apr
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Check
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            &nbsp;
                        </div>
                    </div>
                </div>
                 <div class="col col-20-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Payee
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            Gateway
                        </div>
                    </div>
                </div>
                 <div class="col col-20-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Category
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            Pay Check
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Withdrawal
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            &nbsp;
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Deposit
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            $1,000.00
                        </div>
                    </div>
                </div>
                 <div class="col col-10-all col-100-b">
                    <div class="row tbl-cell">
                        <div class="col col-50-all dsp-none-a tbl-row-hdr">
                            Balance
                        </div>
                        <div class="col col-100-all col-50-b" > 
                            $9,990.00
                        </div>
                    </div>
                </div>
            </div>
        </div>