body, html {
  font-family: Verdana, Arial;
  font-size: .85em;
  margin: 0px;
  padding: 0px; }

select {
  padding: 3px;
  border: solid 1px #ccc;
  font-family: inherit; }

input {
  padding: 2px;
  border: solid 1px #ccc;
  font-family: inherit; }

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 2.4em; }

hr {
  border: solid .5px #ccc;
  padding: 0;
  margin: 0; }

input[type=button] {
  padding: 5px 10px;
  border-radius: 3px; }

.header {
  background: #24292E;
  height: 40px;
  line-height: 40px;
  color: white;
  padding: 0 20px; }

.site-name {
  font-size: 1.5em; }

.header svg {
  height: 30px;
  color: white;
  margin: 5px 0;
  fill: white; }

.header a {
  color: white;
  text-decoration: none; }

.primary-button {
  background: steelblue;
  color: white; }

.form-label {
  line-height: 25px; }

.row {
  position: relative; }

.col {
  float: left; }

.col-r {
  float: right; }

.row:after {
  content: "";
  clear: both;
  display: table;
  line-height: 0; }

.box {
  padding: 20px; }

.tbl-cell-row {
  border-left: solid 1px #ddd;
  cursor: hand; }
  .tbl-cell-row:hover {
    background: #EBF8F0; }

.tbl-cell-hdr {
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  background: #f0f0f0;
  padding: 10px;
  font-weight: bold; }

.tbl-row-hdr {
  font-weight: bold; }

.tbl-cell {
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 10px; }

.col-5-all {
  width: 5%; }

.clear {
  clear: all; }

.summary-label {
  font-size: 1em;
  text-transform: uppercase; }

.summary-value {
  font-size: 1.7em; }

.label {
  font-size: 1em; }

.col-5-all {
  width: 5%; }

.col-10-all {
  width: 10%; }

.col-15-all {
  width: 15%; }

.col-20-all {
  width: 20%; }

.col-25-all {
  width: 25%; }

.col-30-all {
  width: 30%; }

.col-35-all {
  width: 35%; }

.col-40-all {
  width: 40%; }

.col-45-all {
  width: 45%; }

.col-50-all {
  width: 50%; }

.col-55-all {
  width: 55%; }

.col-60-all {
  width: 60%; }

.col-65-all {
  width: 65%; }

.col-70-all {
  width: 70%; }

.col-75-all {
  width: 75%; }

.col-80-all {
  width: 80%; }

.col-85-all {
  width: 85%; }

.col-90-all {
  width: 90%; }

.col-95-all {
  width: 95%; }

.col-100-all {
  width: 100%; }

.m-t-all {
  margin-top: 10px; }

.p-t-all {
  padding-top: 10px; }

.m-b-all {
  margin-bottom: 10px; }

.p-b-all {
  padding-bottom: 10px; }

.m-l-all {
  margin-left: 10px; }

.p-l-all {
  padding-left: 10px; }

.m-r-all {
  margin-right: 10px; }

.p-r-all {
  padding-right: 10px; }

.m-a-all {
  margin: 10px; }

.p-a-all {
  padding: 10px; }

.ta-r-all {
  text-align: right; }

.ta-l-all {
  text-align: left; }

@media (min-width: 768px) {
  .dsp-none-a {
    display: none; }
  .col-5-a {
    width: 5%; }
  .col-10-a {
    width: 10%; }
  .col-15-a {
    width: 15%; }
  .col-20-a {
    width: 20%; }
  .col-25-a {
    width: 25%; }
  .col-30-a {
    width: 30%; }
  .col-35-a {
    width: 35%; }
  .col-40-a {
    width: 40%; }
  .col-45-a {
    width: 45%; }
  .col-50-a {
    width: 50%; }
  .col-55-a {
    width: 55%; }
  .col-60-a {
    width: 60%; }
  .col-65-a {
    width: 65%; }
  .col-70-a {
    width: 70%; }
  .col-75-a {
    width: 75%; }
  .col-80-a {
    width: 80%; }
  .col-85-a {
    width: 85%; }
  .col-90-a {
    width: 90%; }
  .col-95-a {
    width: 95%; }
  .col-100-a {
    width: 100%; }
  .m-t-a {
    margin-top: 10px; }
  .p-t-a {
    padding-top: 10px; }
  .m-b-a {
    margin-bottom: 10px; }
  .p-b-a {
    padding-bottom: 10px; }
  .m-l-a {
    margin-left: 10px; }
  .p-l-a {
    padding-left: 10px; }
  .m-r-a {
    margin-right: 10px; }
  .p-r-a {
    padding-right: 10px; }
  .m-a-a {
    margin: 10px; }
  .p-a-a {
    padding: 10px; }
  .ta-r-a {
    text-align: right; }
  .ta-l-a {
    text-align: left; } }

@media (max-width: 767px) {
  .col-5-b {
    width: 5%; }
  .col-10-b {
    width: 10%; }
  .col-15-b {
    width: 15%; }
  .col-20-b {
    width: 20%; }
  .col-25-b {
    width: 25%; }
  .col-30-b {
    width: 30%; }
  .col-35-b {
    width: 35%; }
  .col-40-b {
    width: 40%; }
  .col-45-b {
    width: 45%; }
  .col-50-b {
    width: 50%; }
  .col-55-b {
    width: 55%; }
  .col-60-b {
    width: 60%; }
  .col-65-b {
    width: 65%; }
  .col-70-b {
    width: 70%; }
  .col-75-b {
    width: 75%; }
  .col-80-b {
    width: 80%; }
  .col-85-b {
    width: 85%; }
  .col-90-b {
    width: 90%; }
  .col-95-b {
    width: 95%; }
  .col-100-b {
    width: 100%; }
  .dsp-none-b {
    display: none; }
  .b-b-b {
    border: solid 1px #ddd;
    box-shadow: 3px 3px #ddd; }
  .m-t-b {
    margin-top: 10px; }
  .p-t-b {
    padding-top: 10px; }
  .m-b-b {
    margin-bottom: 10px; }
  .p-b-b {
    padding-bottom: 10px; }
  .m-l-b {
    margin-left: 10px; }
  .p-l-b {
    padding-left: 10px; }
  .m-r-b {
    margin-right: 10px; }
  .p-r-b {
    padding-right: 10px; }
  .m-a-b {
    margin: 10px; }
  .p-a-b {
    padding: 10px; }
  .ta-r-b {
    text-align: right; }
  .ta-l-b {
    text-align: left; } }
