<!-- Title -->
<div class="box">
    <h1>Account Information</h1>
    <hr/>
</div>

<div class="box">
    <div class="row">
        <div class="col col-50-a col-100-b ta-r-a ta-l-b m-r-a form-label">
            Account Name
        </div>
        <div class="col form-field-value">
            <input value="Checking Account"/>
        </div>
    </div>
    <div class="row m-t-all">
        <div class="col col-50-a col-100-b ta-r-a ta-l-b m-r-a form-label">
            Opening Balance
        </div>
        <div class="col form-field-value">
            <input value="$0.00"/>
        </div>
    </div>

    <div class="row m-t-all">
        <div class="col col-50-a col-100-b ta-r-a ta-l-b m-r-a form-label">
            &nbsp;
        </div>
        <div class="col form-field-value m-r-all">
            <input type="button" value="Save" class="primary-button"/>
        </div>
        <div class="col form-field-value">
            <input type="button" value="Cancel"/>
        </div>
    </div>
</div>